body {
    background-color: black;
    text-align: center;
    height: 600px;
}

h1 {
    color: rgba(255, 221, 2, 0.979);
}

nav {
    border: 1px solid rgba(255, 221, 2, 0.979);
    padding: 10px 30px;
    height: 50px;
    margin: 1rem;
    background-color: rgb(43, 43, 43);
}

.red {
    background-color: black;
    padding: 0px  30px;
    width: 100%;
    border: 2px solid black;
    font-size: 30px;
    color: rgba(255, 221, 2, 0.979);
    margin: 0.5rem;
    text-decoration: none;
}

button {
    background-color:rgba(255, 221, 2, 0.979);
    border: 1px solid white;
    width: 100px;
    height: 50px;
    margin: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(233, 253, 53);
}

.red:hover {
    background-color:rgb(234, 5, 5);
}